
/*系统消息*/
/*.msg_center{*/
    /*border-top: 1px solid #ddd;*/

/*}*/
.msg_center h1{
    width: 810px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding: 9px 0;
    border-bottom: 1px solid #ddd;
}
.msg_center ul{
    margin-top: 35px;
}
.system_msg ul li{
    margin-bottom: 70px;
}
.system_head{
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 1px solid #d0bf8b;
    overflow: hidden;
    float: left;
    margin-right: 30px;
}
.system_msg li h4{
    font-size: 14px;
    color: #acacac;
    margin-bottom: 25px;
    margin-top: 5px;
}
.system_msg li p{
    font-size: 18px;
    color: #666;
    width: 585px;
}
.msg_del{
    float: right;
    font-size: 16px;
    color: #EB6100;
    margin-top: 15px;
}
/*我的评论*/
.my_comments .system_head{
    width: 50px;
    height: 50px;
}
.my_comments ul li{
    margin-bottom: 25px;
    position: relative;
}
.msg_peo{
    font-size: 14px;
    color: #999;
    margin: 15px 0 20px;
}
.pro_title{
    font-size: 18px;
    color: #EB6100;
    letter-spacing: 1px;
}
.my_comments li div h4{
    font-size: 16px;
    color: #666;
}
.pro_com{
    font-size: 18px;
    color: #666;
    letter-spacing: 1px;
}
.pro_time{
    font-size: 14px;
    color: #999;
    margin-right: 15px;
    margin-top: 15px;
}
.msg_title{
    background: #f5f5f5;
    margin-top: 23px;
    width: 712px;
    padding: 10px 0 15px 10px;
    margin-left: 78px;
}
li div.msg_title h2{
    color: #666;
    margin-bottom: 0px;
    margin-top: 15px;
}

div.page ul{
    margin-top: 20px;
}
/*提到我的*/
.mention_me .system_head {
    width: 50px;
    height: 50px;
}
.mention_me li div h4{
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}
.mention_me ul li{
    margin-bottom: 25px;
}
.mention_me ul li div h2{
    margin-top: 2px;
}
.mention_me_seat{
    height: 800px;
    line-height: 800px;
    text-align: center;
    color: #999;
    font-size: 30px;
}