/*logo*/
body{
    padding-top: 0;
}
.logo{
    border: none;
    height: 70px;
}
.logo span{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
.logo span a{
    color: #868686;
    font-size: 12px;

}
.logo span a:hover{
    color: #EB6100;
}
.logo span a:hover i{
    background: url("../img/go_home_h.png");
}
.logo span i{
    background: url("../img/go_home.png");
    width: 16px;
    height: 15px;
    display: inline-block;
    float: left;
    margin-top: 1px;
    margin-right: 5px;
}
.total_logo{
    width: 120px;
    height: 40px;
    margin-top: 15px;
}
/*主体*/
.register_back{
    background: url("../img/register_back.jpg") no-repeat;
    width: 100%;
    height: 735px;
    background-size: 100% 100%;
    margin: 0 auto;
    /*box-shadow: 5px 0px #CCCCCC;*/
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}
.wrapper form{
    width: 380px;
    height: 690px;
    border: 1px solid #CCCCCC;
    float: right;
    margin-top: 20px;
    background: #FFFFFF;
    padding: 0 20px;
}.wrapper form h1{
    font-size: 20px;
    color: #868686;
    padding: 29px 0;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid #ebebeb;
 }
.wrapper form input,.wrapper form button{
    border: 1px solid #868686;
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 5px;
    font-size: 12px;
    color: #999;
    outline: none;
}
 .wrapper form input.form_normal{
     width: 338px;
     height: 40px;
 }
.wrapper form input.form_code{
    width: 218px;
    height: 40px;
    margin-right: 16px;
}
.wrapper form input.form_btn{
    width: 100px;
    height: 40px;
    background: #FFFFFF;
    color: #666;
}
.wrapper form button{
    width: 338px;
    height: 40px;
    background: #EB6100;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 0;
}
.wrapper form .form_check{
    margin-top: 10px;
    color: #999;
    margin-bottom: 80px;
}
.wrapper form input.chk{
    margin-top: -2px;
    margin-right: 10px;
    border-radius: 2px;
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border: 1px solid #868686;
    outline: none;

}
.wrapper form input.chk:checked{
    background: url("../img/register_chk.png");
    border:none;
    background-size: cover;
    outline: none;
}
.wrapper form .form_other{
    font-size: 12px;
    color: #999;
    text-align: center;
}
.wrapper form .form_other p{
    display: inline-block;
    margin: 0 10px;
}
.wrapper form .form_other span{
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #999;
    margin-bottom: 4px;
}
/*底部*/
.footer {
    position: relative;
    z-index: 100;
    height: 60px;
    padding-top: 1px;
}
.mt10{
    margin-top: 0;
}